.imgLogout{
    width: 5%;
    margin-right: 0.5%;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2),
            0 5px 15px rgba(0, 0, 0, 0.4),
            inset 0 0 20px rgba(255, 255, 255, 0.3);
}