

.container{
    width: 100%;
    background-color: #7DA0CA;
    color: white;
    font-size: 1.5rem;
    height: 100vh;
    
}

.sContainer{
    
    height: 90vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.s2Container{
    background-color: rgb(133, 160, 200);
    color: white;
    border-radius: 2%;
    padding: 3%;
    box-shadow: -4px 10px 4px 10px #04121abe;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.words{

    padding-bottom: 3%;
}
    

.link{
    
    background-color: #c1e8ff;
    border-radius: 4%;
    width: 30%;
    padding: 2%;
    text-align: center;
}


.link:hover{
    background-color: #052659;
    color: #c1e8ff !important;
    transition: 0.5s;


}

